body
{
    background-color: #27292f;
    color: white;
}

.header
{
    color: #69addf;
    font-size: 36pt;
    font-weight: bold;
    text-align: center;
    horiz-align: center;

}

a{
    color: #69addf;
    text-decoration: none;
}

h2
{
    color: #e5bf7b;
}

h1{
    color: #69addf;
}

h3
{
    color: #d3656e;
}

.footer{
    width: 100%;
    padding-top: 5%;
    background-color: #404865;
    text-align: center;
    color: #69addf;
}